<!DOCTYPE html>
<html lang="en">
<head>
<title>User Profile</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<br>
	<br>
	<h1 class="text-center">User Profile</h1>
	<br>
	<br>
	<div class="contact py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<form id="form">
				<div class="contact-grids1 w3agile-6">
					<div class="row">
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Name</label><input type="text"
								class="form-control" placeholder="User Name" id="userProfileName"
								name="userProfileName" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Age</label> <input
								type="text" class="form-control" placeholder="Age"
								id="age" name="age" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">DOB</label> <input
								type="text" class="form-control" placeholder="DOB"
								id="dob" name="dob" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Height</label> <input
								type="text" class="form-control" placeholder="Height"
								id="height" name="height" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">City</label> <input
								type="text" class="form-control" placeholder="City"
								id="city" name="city" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Education</label> <input
								type="text" class="form-control" placeholder="Education"
								id="education" name="education" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Occupation</label> <input
								type="text" class="form-control" placeholder="Occupation"
								id="occupation" name="occupation" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Languages</label> <input
								type="text" class="form-control" placeholder="Languages"
								id="languages" name="languages" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Performance</label> <input
								type="text" class="form-control" placeholder="Performance"
								id="performance" name="performance" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Gendre</label> <input
								type="text" class="form-control" placeholder="Gendre"
								id="gendre" name="gendre" required="required">
							<p id="error_name"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Hobbies</label>
							<textarea class="form-control" placeholder="Hobbies"
								id="hobbies" rows="3" cols="45" name="hobbies"
								required="required"></textarea>
							<p id="error_description"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">User Image</label> <input
								type="file" class="form-control" placeholder="" name="image"
								id="image" required="required">
							<p id="error_file"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Drinker</label> <input type="text"
								class="form-control" placeholder="Drink" name="drinker"
								id="drinker" required="required">
							<p id="error_price"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Smoker</label> <input
								type="text" class="form-control" placeholder="Smoker"
								name="smoker" id="smoker" required="required">
							<p id="error_price"></p>
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Location </label>
							<textarea class="form-control" placeholder="Location"
								id="location" rows="3" cols="25" name="location"
								required="required"></textarea>
							<p id="error_description"></p>
						</div>
					</div>
					<div class="right-w3l col-md-6">
						<input type="button" id="submit"
							class="btn btn-primary form-control" value="Submit"> <br>
						<br>
					</div>
					<a href="/image/show" style="float: left;"
						class="btn btn-success text-right">Show All</a>
				</div>
				<br>
				<button type="button" onClick="window.location.reload();"
					id="success" class="text-center" style="color: green;"></button>
				<!-- <div id="success" class="text-center" style="color:green;"></div> -->
				<div id="error" class="text-center" style="color: red;"></div>
			</form>
		</div>
	</div>
	<p class="text-center">
		<img src="/images/loader.gif" alt="loader"
			style="width: 150px; height: 120px;" id="loader">
	</p>
	<script src="/js/product.js"></script>
</body>
</html>